
.card{
  display: flex;
  border: 1px solid;
  gap: 20px;
  /* text-align: center; */
}

.img__container img{
  border: 1px solid;
  width: 350px;
  height: 300px;
}

.detail_container{
  border: 1px solid;
}

h3{
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}

h4{
  font-size: 20px;
  color: orangered;
  text-align: center;
}

p{
  font-size: 20px;
  text-align: center;
}

button{
  font-size: 20px;
  padding: 2%;
  width: 150px;
  border-radius: 20px;
  margin-left: 90px;
}

.decrese_btn{
  width: 50px;
  background-color: aqua;
  gap: 10px;
}

.increse_btn{
  width: 50px;
  background-color: aqua;
}

.counttext{
  margin-left: 230px;
  margin-top: -35px;
}